<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/digidlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/digidlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digid">
        <activity
            android:name=".collegeAveCampus"
            android:exported="false" />
        <activity
            android:name=".cookDougCampus"
            android:exported="false" />
        <activity
            android:name=".liviCampus"
            android:exported="false" />
        <activity
            android:name=".buschCampus"
            android:exported="false" />
        <activity
            android:name=".GenerateQR"
            android:exported="false" />
        <activity
            android:name=".locations"
            android:exported="false" />
        <activity
            android:name=".qr_code"
            android:exported="false" />
        <activity
            android:name=".verify_email"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".register" />
        <activity android:name=".login" />
    </application>

</manifest>